/* CSS Reset */
body, header, main, footer, h1, h3, section, article, aside {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #dfe7c4;
}

/* Style rule for header */
header {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0.2em;
	background-color: #628c45;
	color: #dfe7c4;
	padding: 2%;
    text-align: center;
}

/* Style rules for main content  */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	background-color: #fff;
    padding: 0 2%;
}

/* Style rule for each section */
section {
    width: calc(33.33% - 4%); /* Three columns with a little space between */
    padding: 2%;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    background-color: #fff;
    margin-bottom: 2%;
}

/* Style rule for aside */
aside {
    width: calc(33.33% - 4%);
    padding: 2%;
    box-sizing: border-box;
    background-color: #fff;
}

footer {
	font-size: .70em;
	text-align: center;
}
